body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  height: 100vh;
}
#left-side {
  position: relative;
  flex-grow: 1;
  width: 200px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.light #left-side {
  background-color: #fefefe;
}
.dark #left-side {
  background-color: #001529;
}
#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  height: 72px;
  background-color: #fefefe;
}
.logo {
  margin-right: 8px;
}
.logo img {
  height: 30px;
  width: 36px;
}
#logo-content h1 {
  color: #1890ff;
  text-align: center;
  font-size: 16px;
}
#sidebar {
  display: block;
  border: 4px;
  height: 80%;
}
.light {
  background-color: #ffffff;
}
.light .bar-item {
  display: flex;
  color: #000;
  padding: 16px 0 16px 16px;
  text-decoration: none;
}
.light .bar-item-active {
  display: flex;
  text-decoration: none;
  color: #1890ff;
  background-color: #e6f7ff;
  border-right: solid #0000ff;
}
.light .bar-item-active .style-icon {
  color: #1890ff;
}
.light .bar-item .style-icon {
  color: gray;
}
.light .bar-item:hover .style-chart {
  color: #1890ff;
}
.light .item-content {
  margin: 0;
  padding-left: 10px;
}
.light .bar-item:hover .item-content {
  visibility: visible;
  color: #1890ff;
}
.light .bar-item a {
  padding-left: 15px;
}
.light .bar-item span {
  padding-left: 10px;
}
.light .style-icon:hover {
  color: #1890ff;
}
.light #menu {
  visibility: hidden;
}
#chart a{
 padding: 0;
}
.light .chart {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 45px;
  list-style: none;
}
.light .chart:hover i {
  color: #1890ff;
}
.light .chart a {
  text-decoration: none;
}
.light .chart:hover span {
  color: #1890ff;
}
.light .chart i {
  color: gray;
}
.light .chart span {
  padding-left: 10px;
  color: #000;
}
.light .chart-active {
  background-color: #e6f7ff;
  border-right: solid #0000ff;
  color: #1890ff;
}
.light .chart-active i {
  color: #1890ff;
}
.light .chart-active span {
  color: #1890ff;
}
.light #subCharts {
  visibility: hidden;
  list-style: none;
  text-align: center;
  line-height: 2;
}
.light .subChart {
  padding: 5px;
}
.light .subChart:hover i {
  color: #1890ff;
}
.light .subChart:hover span {
  color: #1890ff;
}
.light .subChart a {
  padding: 5px;
  text-decoration: none;
}
.light .subChart:hover a {
  color: #1890ff;
}
.light .subChart i {
  color: gray;
}
.light .subChart span {
  padding-left: 10px;
  color: #000;
}

.light .subChart-active {
  padding: 5px;
  border-right: solid #0000ff;
  background-color: #e6f7ff;
}
.light .subChart-content {
  color: #1890ff;
}
.light .subChart-active a {
  padding: 5px;
  text-decoration: none;
}
.light .subChart-active i {
  color: #1890ff;
}
.light .subChart-active span {
  padding-left: 10px;
  color: #1890ff;
}
.light #angle-up-sub {
  display: none;
  padding-left: 10px;
  transform: translate(85px, 3px);
}
.light #angle-down-sub {
  padding-left: 10px;
  transform: translate(85px, 3px);
}
.light #angle-up {
  display: none;
  padding-left: 10px;
  transform: translate(135px, 3px);
}
.light #angle-down {
  padding-left: 10px;
  transform: translate(135px, 3px);
}
#hoverChart {
  display: none;
  flex-direction: column;
  position: absolute;
  transform: translate(0px, -20px);
  left: 100%;
  width: 140px;
  padding: 10px 0 10px 10px;
}
.lightChart {
  background-color: #ffffff;
}
.lightChart .e-chart {
  list-style: none;
  margin: 10px 0 10px 10px;
}
.lightChart .e-chart:hover .chart-style {
  color: #1890ff;
}
.lightChart .e-chart:hover span {
  color: #1890ff;
}
.lightChart .e-chart span {
  margin-left: 5px;
  color: #000;
}
.lightChart .e-chart i {
  color: gray;
}
#hoverSubCharts {
  display: none;
  position: absolute;
  flex-direction: column;
  transform: translate(140px,60px);
  left: 100%;
  width: 120px;
  padding: 10px 0 10px 10px;
}
.lightSubChart {
  background-color: #fff;
}
.lightSubChart .hoverSubChart {
  list-style: none;
  margin: 10px 0 10px 10px;
}
.lightSubChart .hoverSubChart a {
  text-decoration: none;
}
.lightSubChart .hoverSubChart:hover span {
  color: #1890ff;
}
.lightSubChart .hoverSubChart:hover i {
  color: #1890ff;
}
.lightSubChart .hoverSubChart i {
  color: grey;
}
.lightSubChart .hoverSubChart span {
  margin-left: 5px;
  color: #000;
}
.dark {
  background-color: #001529;
}
.dark .bar-item {
  display: flex;
  color: rgba(223, 205, 205, 0.596);
  padding: 16px 0 16px 16px;
  text-decoration: none;
}
.dark .bar-item-active {
  background-color: #1890ff;
}
.dark .bar-item-active .style-icon {
  color: #fff;
}
.dark .bar-item-active .item-content {
  color: #fff;
}
.dark .bar-item i {
  color: gray;
}
.dark .bar-item:hover i {
  color: #fff;
}
.dark .item-content {
  margin: 0;
  padding-left: 10px;
}
.dark .bar-item:hover .item-content {
  visibility: visible;
  color: #fff;
}
.dark .bar-item a {
  padding-left: 15px;
}
.dark .bar-item span {
  padding-left: 10px;
}
.dark .style-icon:hover {
  color: #1890ff;
}
.dark #menu {
  visibility: hidden;
}
.dark .chart {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 45px;
  list-style: none;
  background-color: #000c17;
}
.dark .chart-active {
  background-color: #1890ff;
}
.dark .chart-active .chart-content {
  color: #fff;
}
.dark .chart-active .style-chart {
  color: #fff;
}
.dark .chart:hover i {
  color: #fff;
}
.dark .chart a {
  text-decoration: none;
}
.dark .chart:hover span {
  color: #fff;
}
.dark .chart i {
  color: gray;
}
.dark .chart span {
  padding-left: 10px;
  color: rgba(223, 205, 205, 0.596);
}
.dark #subCharts {
  visibility: hidden;
  list-style: none;
  text-align: center;
  line-height: 2;
}
.dark .subChart {
  padding: 5px;
  background-color: #01080f;
}
.dark .subChart-active {
  background-color: #1890ff;
}
.dark .subChart-active .subChart-style {
  color: #fff;
}
.dark .subChart-active .subChart-content {
  color: #fff;
}
.dark .subChart:hover i {
  color: #fff;
}
.dark .subChart:hover span {
  color: #fff;
}
.dark .subChart a {
  padding: 5px;
  text-decoration: none;
}
.dark .subChart:hover a {
  color: #fff;
}
.dark .subChart i {
  color: gray;
}
.dark .subChart span {
  padding-left: 10px;
  color: rgba(223, 205, 205, 0.596);
}
.dark #angle-up-sub {
  display: none;
  padding-left: 10px;
  transform: translate(85px, 3px);
}
.dark #angle-down-sub {
  padding-left: 10px;
  transform: translate(85px, 3px);
}
.dark #angle-up {
  display: none;
  padding-left: 10px;
  transform: translate(135px, 3px);
}
.dark #angle-down {
  padding-left: 10px;
  transform: translate(135px, 3px);
}

.darkChart {
  background-color: #001529;
}
.darkChart .e-chart {
  list-style: none;
  margin: 10px 0 10px 10px;
}
.darkChart .e-chart:hover i {
  color: #1890ff;
}
.darkChart .e-chart:hover span {
  color: #1890ff;
}
.darkChart .e-chart span {
  margin-left: 5px;
  color: #fff;
}
.darkChart .e-chart i {
  color: gray;
}

.darkSubChart {
  background-color: #001529;
}
.darkSubChart .hoverSubChart {
  list-style: none;
  margin: 10px 0 10px 10px;
}
.darkSubChart .hoverSubChart a {
  text-decoration: none;
}
.darkSubChart .hoverSubChart:hover span {
  color: #1890ff;
}
.darkSubChart .hoverSubChart:hover i {
  color: #1890ff;
}
.darkSubChart .hoverSubChart i {
  color: gray;
}
.darkSubChart .hoverSubChart span {
  margin-left: 5px;
  color: #fff;
}

.right-side {
  flex-grow: 18;
}
#top-right {
  height: 72px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.bar_icon {
  display: flex;
  height: 72px;
  width: 72px;
  align-items: center;
  justify-content: center;
}
.bar_icon i {
  color: gray;
}
.bar_icon:hover {
  background-color: #fdfdfd;
}
.bar_icon:hover i {
  color: #1890ff;
}
.bar_icon_dark {
  display: flex;
  height: 72px;
  width: 72px;
  align-items: center;
  justify-content: center;
}
.bar_icon_dark i {
  color: gray;
}
.bar_icon_dark:hover {
  background-color: #1890ff;
}
.bar_icon_dark:hover i {
  color: #fff;
}
.account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.account .hi {
  padding-right: 10px;
  font-size: 13px;
  color: #000;
  font-weight: lighter;
}
.account .darkHi {
  padding-right: 10px;
  font-size: 13px;
  color: rgba(235, 227, 227, 0.795);
  font-weight: lighter;
}
.account .avatar img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.main-content {
  display: flex;
  background-color: #f0f2f5;
  height: 83%;
}
.content {
  padding-left: 20px;
}

.footer {
  position: flex;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  color: grey;
  text-align: center;
}
.copyright.p {
  font-size: 13px;
}

#dark-mode {
  display: flex;
  position: relative;
}
.light #dark-mode {
  background-color: #fefefe;
}
.dark #dark-mode {
  background-color: #001529;
}

#switch-text {
  display: flex;
  padding-left: 16px;
  padding-right: 50px;
  align-items: center;
}
.switch-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
